<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saeedullahgay</title>
    <link rel="stylesheet" href="/static/css/Style.css">
    <link rel="stylesheet" href="/static/css/utlis.css">
</head>

<body>
    <div class="main_container">
        <header>
            <div class="header_section base_flex justify_btw">
                <div class="logo">
                    <a href="">
                        <h1>Saeedgay</h1>
                    </a>
                </div>
                <div class="navbar">
                    <nav class="nav_ul">
                        <ul class="base_flex">
                            <li><a href="/">Home</a></li>
                            <li><a href="/">About</a></li>
                            <li><a href="/">Contact</a></li>
                            <li><a href="/">Blog</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <main>
            <section id="seection1">
                <div class="section1 base_flex">
                    <div class="section1_text">
                        <h1>Wellcome To My Gym</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas repellat tempora sunt! Facilis debitis magnam atque laudantium quaerat illum amet autem consectetur eum, quos recusandae incidunt porro quas dicta adipisci.</p>
                    </div>
                    <div class="section1_img">
                        <a href=""><img src="../static/img/img1.jpg" alt="" width="100px"></a>
                    </div>
                </div>
            </section>
            <section id="seection2">
                <h1 class="center section_h1">About Us Section</h1>
                <div class="section2 base_flex">
                    <div class="section2_img">
                        <img src="../static/img/3.jpg" alt="" width="200px">

                    </div>
                    <div class="section2_text">
                        <h1>This is About section</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa at quisquam assumenda tempore quasi maxime similique nulla porro possimus minus architecto, officiis obcaecati laudantium sunt nemo ipsam doloremque. Totam, impedit.</p>

                    </div>
                </div>
            </section>
            <section id="seection3">
                <h1 class="center section_h1">Contact Me</h1>
                <div class="section3">
                    <form action="">
                        <div class="name base_flex">
                            <div class="label">
                                <label for="name">Name</label>
                            </div>
                            <div class="input">
                                <input type="text" name="name" placeholder="Enter Your Name" id="name">
                            </div>
                        </div>
                        <div class="name base_flex">
                            <div class="label">
                                <label for="email">Email</label>
                            </div>
                            <div class="input">
                                <input type="email" name="email" placeholder="Enter Your email" id="email">
                            </div>
                        </div>
                        <div class="name base_flex">
                            <div class="label">
                                <label for="password">Password</label>
                            </div>
                            <div class="input">
                                <input type="password" name="password" placeholder="Enter Your password" id="password">
                            </div>
                        </div>
                        <div class="name base_flex">
                            <div class="label">
                                <label for="phone">Phone</label>
                            </div>
                            <div class="input">
                                <input type="number" name="phone" placeholder="Enter Your phone" id="phone">
                            </div>
                        </div>
                        <div class="name base_flex">
                            <div class="label">
                                <label for="message">Message</label>
                            </div>
                            <div class="input">
                                <textarea name="message" id="message" cols="6" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="namebtn center ">
                            <button type="submit" class="btn">Submit</button>
                            <button type="reset" class="btn">Reset</button>
                        </div>
                    </form>
                </div>
            </section>
        </main>
        <footer>
            <div class="footersection">
                <h1>www.mygym.com &copy;. All right reserved</h1>
            </div>
        </footer>
    </div>
</body>

</html>